
extends base.pug

block content
    h4=errorMessage
    div.join-container
        form(method="POST").join-form
            label(for="name") Name
            input(id="name", name="name", type="text", placeholder="What's your name?", required)
            label(for="username") Username
            input(id="username", name="username", type="text", placeholder="What's your username?", required)
            label(for="email") Email
            input(id="email", name="email", type="email", placeholder="What's your email?", required)
            label(for="password") Password
            input(id="password", name="password", type="password", placeholder="What's your password?", required)
            label(for="password2") Password Check
            input(id="password2", name="password2", type="password", placeholder="Check your password.", required)
            label(for="address") Address
            input(id="address", name="address", type="text", placeholder="What's your address?")
            input(type="submit", value="Create Account")
    div.move-to-login
        span Are you already have an Account?   
        a(href="/login") Login &rarr;