
extends base.pug

block content
    if errorMessage
        h3=errorMessage
    else
    form(method="POST" enctype="multipart/form-data").upload-form
        input(name="uploadVideo", required, type="file", accept="video/*")
        input(name="title", placeholder="What is Video Name?", required, type="text", maxlength=80)
        input(name="description", placeholder="Description", required, type="text", minlength=20)
        input(name="hashtags", placeholder="Hashtags", required, type="text")
        input(type="submit", value="save")