extends ../base

block content 
    h4=errorMessage
    form(method="post")
        input(type="password", name="oldPassword", placeholder="Old Password")
        input(type="password", name="newPassword", placeholder="New Password")
        input(type="password", name="newPasswordCon", placeholder="New Password Confirmation")
        input(type="submit", value="Change Password")