
extends ../base
include ../mixins/video

block content
    div.user-profile
        div.user-profile__column
            img(src="/" + user.avatarUrl, width=100, height=100).user-img
            ul.user-info
                li
                    p=user.username 
                li
                    p=user.email 
        div.user-profile__column
            div.go-to-user__edit
                a(href="edit") Edit Profile
    div.user-video
        span Your Video
        hr
        each video in user.videos
            +video(video)
        else
            li.video-list__else Sorry nothing found.